<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List of conversation parts</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pe-icon-7-filled.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}">

</head>
<body>

 	<div class="wrapper">

		<section class="content">
<!--			<header class="main-header">
				<div class="main-header__nav">
					<h1 class="main-header__title">
						<i class="pe-7f-note2"></i>
						<span>Conversations</span>
					</h1>
				</div>

			</header> -->

	<div class="row">
		<div class="col-md-12">
			<article class="widget">
				<header class="widget__header">
					<div class="widget__title">
						<a href="{{ url_for('download_file') }}"><i class="pe-7f-diskette"></i></a><h3>Conversation parts </h3>
					</div>
					<!-- <div class="widget__config">
						<a href="#"><i class="pe-7f-diskette"></i></a>
					</div> -->
				</header>

				<div class="widget__content filled pad20">

					<div class="row">
						<div class="col-md-12 text-center btn__showcase2">

<table class="table table-hover media-table">
	{% if conv_parts %}

    <thead>
		<tr>
			<th>conversation_id</th>
			<th>part_id</th>
			<th>author_id</th>
			<th>author_type</th>
			<th>body</th>
			<th>created_at</th>
			<th>updated_at</th>
		</tr>
	</thead>
    {% endif %}
    <tbody>
    {% for conv in conv_parts %}
    <tr>
        <td class="text-left">  {{ conv['conversation_id'] }} </td>
        <td class="text-left">  {{ conv['id'] }} </td>
        <td class="text-left">  {{ conv['author_id'] }} </td>
        <td class="text-left">  {{ conv['author_type'] }} </td>
        <td class="text-left">  {{ conv['body'] }} </td>
        <td class="text-left">  {{ conv['created_at'] }} </td>
        <td class="text-left">  {{ conv['updated_at'] }} </td>
    </tr>
    {% else %}
        <tr class="text-left">{{ err }}</tr>
    {% endfor %}
	</tbody>
</table>

									</div>

								</div>

							</div>
						</article><!-- /widget -->
					</div>

				</div> <!-- /row -->

		</section> <!-- /content -->

	</div>



    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- 	<script type="text/javascript" src="js/amcharts/amcharts.js"></script>
	<script type="text/javascript" src="js/amcharts/serial.js"></script>
	<script type="text/javascript" src="js/amcharts/pie.js"></script>
	<script type="text/javascript" src="js/amcharts/xy.js"></script>
	<script type="text/javascript" src="js/amcharts/radar.js"></script>
	<script type="text/javascript" src="js/charts.js"></script>
 --></body>
</html>
